// $green: #00ce89;
// $color_red: #e90074;
// $color_red_light: #ff66b3;

// $color_gray_light: #f9f9f9;
// $color_gray: #e6e6e6;
// $color_gray_darker: #999;
// $color_gray_medium: #666;
// $color_gray_dark: #333;

//new
$darkBlue: #1b284a;
$blue: #314281;
$blueHover: #2a396f;
$lightblue: #74c0fc;
$lightestBlue: #b5bfe3;

$yellow: #fab005;
$green: #63e6be; //#4cd884;
$btnGreen: #20c594;

$purple: #4f4686;
$lightPurple: #7e5da6;
$lighterPurple: #a38cc0;
$colorPink: #ed789b;
$colorPinkLight: #f688a9;
$red: #dc143c;

$darkGrey: #22242d;
$lightGrey: #737373;
$middleGrey: #b3b3b3;
$lighterGrey: #e6e6e6;
$lightestGrey: #eff1f5;
$superLightGrey: #f5f6f9;

$textColor: #183153; // $darkBlue;
$textColorLight: $lightGrey;
$borderColor: #d5d8dd;
$borderColorBlue: #465fb9;
$linkColor: #1994e6;
$sectionPadding: 4%;
$themeBorderRadius: 10px;

$themeBoxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$themeBoxShadowLight: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

//screen width
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$xxl-min: 1600px;
